.img-container {
  background-size: cover;
  height: 230px;
  width: 230px;
}

.list-item {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.title-container {
  display: flex;
  justify-content: space-between;
}

.title {
  font-family: inter;
  font-size: 18px;
  display: inline-block;
  width: 140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.label {
  font-family: inter;
  color: blue;
  margin-top: 20px;
  font-size: 14px;
}

.title-container {
  display: flex;
  justify-content: space-between;
}

.price {
  font-family: inter;
  font-weight: 500;
  margin-top: 2px;
}

.compare-price {
  text-decoration: line-through;
  color: gray;
  font-family: inter;
  margin-top: 2px;
}

.persentage-off {
  font-family: inter;
  color: red;
  font-weight: 500;
  margin-top: 2px;
}

.cart-button {
  font-family: inter;
  align-self: stretch;
  width: 100%;
  background-color: black;
  color: white;
  border-radius: 6px;
  border-width: 0px;
  height: 40px;
}
